@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ham-menu {
  position: fixed;
  height: 100%;
  width: 285px;
  left: -320px;
  transition: left 0.25s ease-out;
  padding: 12px;
  padding-top: 67px;
  opacity: 0.95;
  z-index: 999;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  font-size: 18px;
  font-weight: 400;
  margin: 8px 0px;
  padding: 5px 18px;
  transition: all 0.5s ease;
}

.ham-menu__line {
  width: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #ececec, rgba(255, 255, 255, 0));
  height: 1px;
  margin: 0 auto;
  transition: all 0.5s ease;
}

.mobile-nav-menu-button {
  display: flex;
  align-items: left;
  justify-content: left;
  cursor: pointer;
  width: auto;
  height: auto;
  height: 100%;
  padding: 5px;
}

.line-container {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 100%;
  width: 31px;
  padding: 6px 3px;
}

.line {
  width: 25px;
  height: 2px;
}

.nav-menu-container-md {
  display: none;
}


@media (min-width: 768px) {
  .ham-menu {
    opacity: 1;
    @apply hidden;
  }

  .mobile-nav-menu-button {
    @apply hidden;
  } 

  .nav-menu-container-md {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    height: auto;
    height: 100%;
    padding: 5px;
  }
}