.button-container {
    height: 45px;
    width: 150px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.1s linear;
}

.button-container:hover {
    transform: scale(1.05);
}

.button-container:active {
    transform: scale(.98);
}

.nav-button {
    padding: 2px;
    font-size: 16px;
    font-weight: 500;
}
